<html lang="en">

    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
      <% include ./partials/header %>
    
      <title>Write your reviews here</title>

      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">SID Residencies</a>
          <!-- <a href="/seller/insert" class="btn btn-primary" role="button">Insert</a> -->
          
          <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 67%">
              <ul class="navbar-nav">
                    <li class="nav-item dropdown">
        
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              My account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/updateUser">Edit </a>
                              <a class="dropdown-item" href="/viewProfile">View Profile</a>
                              <a class="dropdown-item" href="/delete">Delete</a>
                              <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                          </li>
                          <!-- <li class="nav-item active">
                              <a class="nav-link" href="/sell">Buy</a>
                          </li> -->
                          <li class="nav-item active">
                              <a class="nav-link" href="/hello">Buy</a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" href="/sellerlist">Sell</a>
                          </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Home</a>
                  </li>

                  
              </ul>
          </div>
      </nav>
      </header>
      
    </head>
    <body background="/public/images/9.jpg">
            <div class="container">
                <h1>Write a review here</h1>
                <form action="/review" method="POST">
  
                  <div class="form-group">
                    <label for="headline">Add a headline</label>
                     <input type="text" class="form-control" name="headline" id="headline"
                     placeholder="Enter headline"> 
                  </div>
                  
        

                <label for="review">review</label>
                <div class="form-group">
                     <textarea rows="4" cols="50" name="review" id="review">
                        Enter text here...</textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">post</button>
             
                </form>
                </div>
                  <% include ./partials/scripts %>   
        </body>
        
        </html>