<html>
        <h1>Welcome user</h1>
        <a href="/delete" class="btn btn-primary">Delete</a>
        <a href="/update" class="btn btn-primary">Update</a>
        <a href="/logout" class="btn btn-primary">Logout</a>
</html>